<div class="memo-list">
  <ul>
    <% @memos.each do |id, post| %>
      <li>
        <a href="/memos/<%= id %>"><%= html_escape(post["title"]) %></a>
      </li>
    <% end %>
  </ul>
</div>
<div>
  <button class="button" onclick="location.href='/memos/new'">作成</button>
</div>
