<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/edit.css">
  <title>メモアプリ</title>
</head>
<body>
  <header>
  <h1><a href="/">メモアプリ</a></h1>
  </header>
  <div>
    <%= yield %>
  </div>
</body>
</html>
