<div>
  <form action="/memos" method="post">
    <label for="title">タイトル</label>
    <input type="text" id="title" name="title">
    <br>
    <label for="title">内容</label>
    <textarea id="content" name="content"></textarea>
    <br>
    <button class="button" type="submit">作成</button>
  </form>
</div>
